In [1]:
import pandas as pd
import plotly.express as px
import ipywidgets as widgets
from ipywidgets import interact
from IPython.display import clear_output

In [2]:
df=pd.read_csv('Titanic-Dataset.csv',index_col='PassengerId')
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.isna().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [4]:
print((df.isnull().sum()/len(df))*100)

Survived     0.000000
Pclass       0.000000
Name         0.000000
Sex          0.000000
Age         19.865320
SibSp        0.000000
Parch        0.000000
Ticket       0.000000
Fare         0.000000
Cabin       77.104377
Embarked     0.224467
dtype: float64

In [5]:
df['Age']=df['Age'].fillna(df['Age'].median())

In [6]:
df=df.drop('Cabin' ,axis=1)

In [7]:
df['Embarked']=df['Embarked'].fillna(df['Embarked'].mode()[0])

In [8]:
@widgets.interact(pclass=[1,2,3])
def survival_by_class(pclass):
    filtered=df[df['Pclass']==pclass]
    fig=px.histogram(
        filtered,
        x='Sex',
        color='Survived',
        title=f'Survival by Gender (Class {pclass})'
    )
    fig.show()

interactive(children=(Dropdown(description='pclass', options=(1, 2, 3), value=1), Output()), _dom_classes=('wi…

- What it shows: This chart compares how many men and women survived in First Class (Pclass 1). The blue part of the bar means the person survived, and the red part means they did not.
- Key Insight:
    - For women in First Class, almost everyone (the entire blue bar) survived.
    - For men in First Class, about half survived (the blue part), and half did not (the red part).
-In Simple Terms: In First Class, women had a very high chance of surviving, while men had about a 50/50 chance.

In [9]:
@widgets.interact(age_max=(10,80,10))
def survival_age(age_max):
    filtered=df[df['Age']<=age_max]
    fig=px.histogram(
        filtered,
        x='Age',
        color='Survived',
        title=f'Survival for Age ≤ {age_max}')
    fig.show()

interactive(children=(IntSlider(value=40, description='age_max', max=80, min=10, step=10), Output()), _dom_cla…

- What it shows: This histogram looks at passengers who were 40 years old or younger. It breaks down their age into small groups (like 0-5, 5-10, etc.) and shows how many people in each group survived (blue) or did not survive (red).
- Key Insight:
    - There is a very large group of young adults, around age 28-30, where many more people died (red) than survived (blue).
    - For most other age groups under 40, the number of survivors (blue) is higher than those who did not survive (red).
- In Simple Terms: Among younger passengers, there was one specific age group (around 28-30) that had a much higher death rate. For all other young ages, more people tended to survive.

In [10]:
@widgets.interact(sex=['male','female'])
def sur_gen(sex):
    filtered=df[df['Sex']==sex]
    fig=px.histogram(filtered,
                     x='Pclass',
                     color='Survived',
                     title=f'Survivle for each class by {sex}')
    fig.show()

interactive(children=(Dropdown(description='sex', options=('male', 'female'), value='male'), Output()), _dom_c…

- What it shows: This chart shows how many men survived or died in each of the three passenger classes (1st, 2nd, and 3rd). Again, blue means they survived, and red means they did not.
- Key Insight:
    - In First Class (1), about half of the men survived.
    - In Second Class (2), a smaller portion of men survived compared to First Class.
    - In Third Class (3), the vast majority of men did not survive (mostly red), with only a small number surviving (a thin blue line at the bottom).
- In Simple Terms: Men in First Class had the best chance of survival. As the class got lower (from 1st to 3rd), the chance of a man surviving dropped dramatically.

In [11]:
@widgets.interact(pclass=[1,2,3],sex=['male','female'])
def fun(pclass,sex):
    filtered=df[(df['Pclass']==pclass) & (df['Sex']==sex)]
    fig=px.histogram(filtered,
                     x='Age',
                     color='Survived',
                     title=f'Survival Age for Class {pclass} and Gender {sex}'
                    )
    fig.show()

interactive(children=(Dropdown(description='pclass', options=(1, 2, 3), value=1), Dropdown(description='sex', …

- What it shows: This histogram focuses only on men who were in First Class. It shows how many of them survived (blue) or died (red) at different ages.
- Key Insight:
    - For men aged 20-30, many more died (red) than survived (blue).
    - For older men (ages 40-60), the number of survivors (blue) and non-survivors (red) are more balanced.
    - There are very few men over 70 in First Class, but the ones who were there mostly died.
- In Simple Terms: Among First Class men, younger men (in their 20s) were less likely to survive. Older men had a slightly better, but still uncertain, chance of survival.

In [12]:
@widgets.interact(pclass=[1,2,3],sex=['male','female'])
def bp(pclass,sex):
    f=df[(df['Pclass']==pclass) & (df['Sex']==sex)]
    fig=px.box(f,
               y='Age',
               color='Survived',
               title=f'Survival age distirbutaion by age for Class {pclass} and {sex}'
              )
    fig.show()

interactive(children=(Dropdown(description='pclass', options=(1, 2, 3), value=1), Dropdown(description='sex', …

- What it shows: This box plot gives a statistical summary of the ages for First Class men who survived (blue) versus those who died (red). The box shows the middle 50% of ages, and the line inside is the average age.
- Key Insight:
    - The average age of men who died (red) is higher than the average age of men who survived (blue).
    - The range of ages for men who died is wider, meaning there were both very young and very old men among those who didn't survive.
    - The box for survivors (blue) is taller, which suggests there was more variation in the ages of the men who lived.
-In Simple Terms: On average, the men in First Class who died were older than the men who survived. However, there were exceptions, as some very young and very old men also managed to survive.

In [13]:
@widgets.interact(sex=['male','female'])
def fun (sex):
    filtered=df[df['Sex']==sex]
    survival_count=filtered['Survived'].value_counts().reset_index()
    survival_count.columns=['Survived','Counts']
    fig=px.bar(survival_count,
               x='Survived',
               y='Counts',
               color='Survived',
               title=f'Survival Count for {sex}'
              )
    fig.show()

interactive(children=(Dropdown(description='sex', options=('male', 'female'), value='male'), Output()), _dom_c…

- What it shows: This bar chart displays the total number of male passengers who died (blue bar, labeled '0') and who survived (yellow bar, labeled '1').
- Key Insight:
    - The blue bar is much taller than the yellow bar.
    - This means that a large majority of male passengers did not survive.
- In Simple Terms: For men on the Titanic, the chance of survival was very low. Far more men died than survived.

In [14]:
@widgets.interact(pclass=[1,2,3])
def age_fare(pclass):
    filtered=df[df['Pclass']==pclass]
    fig=px.scatter(filtered,
                   x='Age',
                   y='Fare',
                   color='Survived',
                   title=f'Age vs Fare for Class{pclass}'
                  )
    fig.show()

interactive(children=(Dropdown(description='pclass', options=(1, 2, 3), value=1), Output()), _dom_classes=('wi…

- What it shows: This scatter plot shows the relationship between a passenger's age and the price they paid for their ticket (Fare), but only for those in First Class (Pclass 1). The color of each dot indicates if they survived (yellow) or died (dark blue).
- Key Insight:
    - There is no clear pattern between age and fare; people of all ages paid different prices.
    - Survivors (yellow dots) are scattered throughout the plot, with some paying high fares and others paying low fares.
    - Similarly, those who died (blue dots) are also spread out across all ages and fare levels.
- In Simple Terms: In First Class, how old you were or how much you paid for your ticket didn't seem to guarantee your survival. Both survivors and non-survivors came from all age groups and paid a wide range of ticket prices.

In [15]:
@widgets.interact(pclass=[1,2,3])
def pie_c(pclass):
    filtered=df[df['Pclass']==pclass]
    sur_count=filtered['Survived'].value_counts().reset_index()
    sur_count.columns=['Survived','Counts']

    fig=px.pie(sur_count,
               names='Survived',
               values='Counts',
               color='Survived',
               title=f'Survival count for Class {pclass}',
               color_discrete_map={0:'red',1:'green'}
              )
    fig.show()

interactive(children=(Dropdown(description='pclass', options=(1, 2, 3), value=1), Output()), _dom_classes=('wi…

- What it shows: This pie chart shows the percentage of passengers in First Class who survived (green) versus those who died (red).
- Key Insight:
    - The green section (survived) is larger, making up 63% of the pie.
    - The red section (died) makes up 37%.
- In Simple Terms: Passengers in First Class had a good chance of surviving. About 6 out of every 10 First Class passengers made it off the ship alive.

In [16]:
import pandas as pd
import plotly.express as px
import ipywidgets as widgets
from IPython.display import display, clear_output

In [17]:
# Widgets
dropdown_class = widgets.Dropdown(options=[1,2,3], description='Class:')
dropdown_sex = widgets.Dropdown(options=['male','female'], description='Gender:')
slider_age = widgets.IntSlider(value=80, min=0, max=80, step=5, description='Max Age:')

ui = widgets.HBox([dropdown_class, dropdown_sex, slider_age])
display(ui)

# Output container
output = widgets.Output()
display(output)

# Update function
def update_dashboard(change=None):
    with output:
        output.clear_output(wait=True)
        
        filtered = df[
            (df['Pclass'] == dropdown_class.value) &
            (df['Sex'] == dropdown_sex.value) &
            (df['Age'] <= slider_age.value)
        ]
        
        if filtered.empty:
            print("No data for this selection!")
            return
        
        fig1 = px.histogram(filtered, x='Age', color='Survived', title='Histogram: Age Distribution')
        fig2 = px.box(filtered, y='Age', color='Survived', title='Boxplot: Age Distribution')
        fig3 = px.scatter(filtered, x='Age', y='Fare', color='Survived', size='Fare', title='Scatter: Age vs Fare')
        survival_counts = filtered['Survived'].value_counts().reset_index()
        survival_counts.columns = ['Survived','Count']
        fig4 = px.pie(survival_counts, names='Survived', values='Count', color='Survived',
                      color_discrete_map={0:'red',1:'green'}, title='Pie: Survival Proportion')
        
        fig1.show()
        fig2.show()
        fig3.show()
        fig4.show()

# Connect widgets
dropdown_class.observe(update_dashboard, names='value')
dropdown_sex.observe(update_dashboard, names='value')
slider_age.observe(update_dashboard, names='value')

# Initial display
update_dashboard()

HBox(children=(Dropdown(description='Class:', options=(1, 2, 3), value=1), Dropdown(description='Gender:', opt…

Output()

This dashboard combines four different views to give a detailed look at male passengers in First Class.

1-Histogram: Age Distribution
- What it shows: This histogram breaks down the ages of male First Class passengers into small groups and shows how many survived (red) or died (blue) in each group.
- Key Insight: The highest number of deaths (blue bars) occurred in the 25-35 age range. The highest number of survivors (red bars) was in the 35-45 age range.
  
2-Boxplot: Age Distribution
- What it shows: This box plot compares the age ranges of male First Class passengers who died (blue) versus those who survived (red). The box shows the middle 50% of ages.
- Key Insight: The average age of survivors (red box) appears to be slightly higher than the average age of those who died (blue box).

3-Scatter: Age vs Fare
- What it shows: Similar to the previous scatter plot, this one focuses only on male First Class passengers, plotting their age against their fare.
- Key Insight: Again, there's no strong link between age, fare, and survival. Survivors and non-survivors are mixed together across all ages and fare amounts.

4-Pie: Survival Proportion
- What it shows: This pie chart shows the overall survival rate for male First Class passengers.
- Key Insight: It confirms that for males in First Class, about 63% survived and 37% died, which is a much better survival rate than for males overall.

In Simple Terms: Looking at just the men in First Class, we see that while many died, a significant number (63%) survived. Those who survived tended to be slightly older on average, and there was no clear connection between how much they paid or their exact age and whether they lived or died.